@{
    ViewData["Title"] = "Inicio - Tienda de Ropa";
}

<h1>Bienvenido a Nuestra Tienda de Ropa</h1>
<p>Encuentra la mejor ropa al mejor precio.</p>

<div id="productosDestacados">
    <h2>Productos Destacados</h2>
    <div class="producto">
        <img src="~/images/producto1.jpg" alt="Producto 1" />
        <p>Descripción del Producto 1</p>
    </div>
    <div class="producto">
        <img src="~/images/producto2.jpg" alt="Producto 2" />
        <p>Descripción del Producto 2</p>
    </div>
</div>
