@{
    ViewData["Title"] = "Productos - Tienda de Ropa";
}

<h1>Productos Disponibles</h1>

<div class="productos">
    <div class="producto">
        <img src="~/images/producto1.jpg" alt="Producto 1" />
        <p>Nombre: Camiseta Básica</p>
        <p>Precio: $10.00</p>
        <button>Añadir al Carrito</button>
    </div>
    <div class="producto">
        <img src="~/images/producto2.jpg" alt="Producto 2" />
        <p>Nombre: Jeans Ajustados</p>
        <p>Precio: $25.00</p>
        <button>Añadir al Carrito</button>
    </div>
</div>
